<div class="menu-left-wrapper">
  <div class="close-btn">
    <i class="fa fa-times fa-3x" aria-hidden="true"></i>
  </div>
  <div class="menu-items-wrap">
    <div class="menu-items">
      <ul>
        <li><a href="{{ path('<front>') }}">{{ "HOME" }}</a></li>
        <li><a href="{{ base_path }}agenda">Agenda</a></li>
        <li><a href="#">Lid worden</a></li>
        <li><a href="#">Fotoalbums</a></li>
        <li><a href="{{ base_path }}spitfire-geschiedenis">{{ "De Spitfire" }}</a></li>
        <li><a href="#">Techniek</a></li>
        <li><a href="{{ base_path }}spitfire-aankopen">Aankopen</a></li>
        <li><a href="#">Onderhoud</a></li>
        <li><a href="#">Onze Club</a></li>
        <li><a href="#">Verzekeringen</a></li>
        <li><a href="#">Clubwinkel</a></li>
        <li><a href="{{ base_path }}contacteren">Contact</a></li>
      </ul>

    </div>

    <footer>
      <div class="menu-left__footer">
        <div class="row">
          <div class="col-md-2 col-sm-12">
            <img src="{{ base_path ~ directory }}/images/facebook-icon.png" alt="Facebook">
          </div>
          <div class="col-md-10 col-sm-12">
            <div class="menu-left__footer-copy">
              Copyright 2017 - Spitfireclub Vlaanderen
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>
</div>