{#
/**
 * _menu-left.sass
 * geen Drupal main-menu menu wordt toch zelden aangepast
*/
#}
<div class="menu-left-wrapper">
  <div class="close-btn close-icon"></div>
  <div class="menu-items-wrap">
    <div class="menu-items">
      <ul>
        <li><a href="{{ path('<front>') }}">{{ "HOME" }}</a></li>
        <li><a href="{{ base_path }}agenda">Agenda</a></li>
        <li><a href="{{ base_path }}lid-worden">Lid worden</a></li>
        <li><a href="{{ base_patn }}spitfire-foto-albums">Fotoalbums</a></li>
        <li><a href="{{ base_path }}spitfire-geschiedenis">{{ "De Spitfire" }}</a></li>
        <li><a href="{{ base_path }}spitfire-techniek">Techniek</a></li>
        <li><a href="{{ base_path }}spitfire-aankopen">Aankopen</a></li>
        <li><a href="{{ base_path }}spitfire-onderhoud">Onderhoud</a></li>
        <li><a href="{{ base_path }}spitfireclub">Onze Club</a></li>
        <li><a href="{{ base_path }}spitfire-verzekeringen">Verzekeringen</a></li>
        <li><a href="{{ base_path }}spitfire-clubwinkel">Clubwinkel</a></li>
      </ul>

    </div>

    <footer>
      <div class="menu-left__footer">
        <div class="row">
          <div class="col-md-2 col-sm-2 col-xs-2">
            <a class="facebook-icon" href="https://www.facebook.com/groups/spitfireclubvlaanderen/" target="_blank">
            </a>
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10">
            <div class="menu-left__footer-copy">
              Copyright 2017 - Spitfireclub Vlaanderen
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>
</div>